In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("LatestJudge.csv")

In [ ]:
df.head()

,Status Number,Type,Class,Name,Min JT,years,Max JT,Years,Min Fine,Max Fine
0,53a-54b,F,A,MURDER-CAPITAL OFFENSE,999,Y,999,Y,$0,"$20,000"
1,53a-54b(1),F,A,MURDER-PEACE OFFICER,999,Y,999,Y,$0,"$20,000"
2,53a-54b(2),F,A,MURDER-PECUNIARY GAIN,999,Y,999,Y,$0,"$20,000"
3,53a-54b(3),F,A,MURDER-PRIOR MURDER CONVICTION,999,Y,999,Y,$0,"$20,000"
4,53a-54b(4),F,A,MURDER-SERVING LIFE SENTENCE,999,Y,999,Y,$0,"$20,000"

In [ ]:
import pandas as pd

# Assuming df is your DataFrame with the "Name" column
# You want to extract characters inside () and 4 characters before "DEG"

# Define a function to extract characters inside parentheses
def extract_inside_parentheses(text):
    import re
    match = re.search(r'\((.*?)\)', text)
    if match:
        return match.group(1)
    else:
        return None

# Define a function to extract 4 characters before "DEG"
def extract_before_deg(text):
    import re
    match = re.search(r'(.{4})DEG', text)
    if match:
        return match.group(1)
    else:
        return None

# Apply the functions to create new columns
df['Offense'] = df['Name'].apply(extract_inside_parentheses)
df['DEG'] = df['Name'].apply(extract_before_deg)

# Print the DataFrame to see the results
print(df)

     Status Number Type Class                            Name Min JT years  \
0          53a-54b    F     A          MURDER-CAPITAL OFFENSE    999     Y
1       53a-54b(1)    F     A            MURDER-PEACE OFFICER    999     Y
2       53a-54b(2)    F     A           MURDER-PECUNIARY GAIN    999     Y
3       53a-54b(3)    F     A  MURDER-PRIOR MURDER CONVICTION    999     Y
4       53a-54b(4)    F     A    MURDER-SERVING LIFE SENTENCE    999     Y
...            ...  ...   ...                             ...    ...   ...
1660         26-43    M     U     ILL SALE RAW FURS TO DEALER      0     D
1661        26-287    M     U  ILL SHELLFISHING-NIANTIC RIVER      0     D
1662        7-313b    M     U  FLR LEAVE SCENE OF FIRE/EMRGCY      0     D
1663     14-283(g)    M     U  ILL OBSTRUCT EMERGENCY VEHICLE      0     D
1664     14-283(g)    M     U  VIO 14-283(G) IN CSTR/UTL ZONE      0     D

     Max JT Years Min Fine Max Fine Offense   DEG
0       999     Y       $0  $20,000    None  None
1       999     Y       $0  $20,000    None  None
2       999     Y       $0  $20,000    None  None
3       999     Y       $0  $20,000    None  None
4       999     Y       $0  $20,000    None  None
...     ...   ...      ...      ...     ...   ...
1660     10     D     $100     $250    None  None
1661     10     D       $0     $200    None  None
1662      7     D       $0      $50    None  None
1663      7     D       $0      $50    None  None
1664      7     D       $0     $100       G  None

[1665 rows x 12 columns]

In [ ]:
def extract_numerical_value(text):
    if text is not None:
        # Remove non-numeric characters from the string and convert to integer
        return int(''.join(filter(str.isdigit, text)))
    else:
        return None  # Return None if the input text is None


# Apply the function to create the new column
df['DEG_NUM'] = df['DEG'].apply(extract_numerical_value)

# Print the DataFrame to see the results
print(df)

     Status Number Type Class                            Name Min JT years  \
0          53a-54b    F     A          MURDER-CAPITAL OFFENSE    999     Y
1       53a-54b(1)    F     A            MURDER-PEACE OFFICER    999     Y
2       53a-54b(2)    F     A           MURDER-PECUNIARY GAIN    999     Y
3       53a-54b(3)    F     A  MURDER-PRIOR MURDER CONVICTION    999     Y
4       53a-54b(4)    F     A    MURDER-SERVING LIFE SENTENCE    999     Y
...            ...  ...   ...                             ...    ...   ...
1660         26-43    M     U     ILL SALE RAW FURS TO DEALER      0     D
1661        26-287    M     U  ILL SHELLFISHING-NIANTIC RIVER      0     D
1662        7-313b    M     U  FLR LEAVE SCENE OF FIRE/EMRGCY      0     D
1663     14-283(g)    M     U  ILL OBSTRUCT EMERGENCY VEHICLE      0     D
1664     14-283(g)    M     U  VIO 14-283(G) IN CSTR/UTL ZONE      0     D

     Max JT Years Min Fine Max Fine Offense   DEG  DEG_NUM
0       999     Y       $0  $20,000    None  None      NaN
1       999     Y       $0  $20,000    None  None      NaN
2       999     Y       $0  $20,000    None  None      NaN
3       999     Y       $0  $20,000    None  None      NaN
4       999     Y       $0  $20,000    None  None      NaN
...     ...   ...      ...      ...     ...   ...      ...
1660     10     D     $100     $250    None  None      NaN
1661     10     D       $0     $200    None  None      NaN
1662      7     D       $0      $50    None  None      NaN
1663      7     D       $0      $50    None  None      NaN
1664      7     D       $0     $100       G  None      NaN

[1665 rows x 13 columns]

In [ ]:
df.to_csv("LatJudge.csv",index=True)

In [ ]:
len(df['DEG'].notnull())

1665